
@model SpectraAnalysis.Models.HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="textCenter">
    <h1 class="display-4">Welcome</h1>
    
    <div id="spectraNameContainer" @*style="display: none;"*@>
        <label for="spectraName">Appoint the name of the spectra</label>
        <input type="text" id="spectraName" onmouseout="uploadAbilityControl(event)"/>
    </div>

    <form style="margin-top: 0.7rem; display: inline-block;">
        <label for="spectraFile" style="color: blue;"><u>Upload spectra</u></label>
        <input type="file" id="spectraFile" style="display: none;"/>
    </form>
    <button id="uploadFile" style="display: inline-block;" disabled>OK</button>

    <p id="responce" style="margin-top: 0.7rem;" onchange="analysisVisibilityControl(event)"></p>
    @*<p id="spectraId" style="margin-top: 0.7rem; display: none">4DAF2A13-E1AB-4049-B9C7-76137B2DDB90</p> @*to comment*@*@
    <p id="spectraId" style="margin-top: 0.7rem; display: none"></p>
    <p id="baselineId" style="margin-top: 0.7rem; display: none"></p>

</div>

<div id="analysisWindow" style="display: block;">
    <div class="analysisStep">
        <div class="inline">
            <p>1. Smoothing by Wavelet Haar</p>
            <label for="numOfIterations">Appoint number of iterations</label>
            <input id="numOfIterations" type="text" onmouseout="stepAbilityControl(event)" style="width: 25%"/>
            <button id="smoothByWaveletHaar" class="startStep" disabled onclick="startWaveletSmoothing()">Start</button>
        </div>
        <div class="inline">
            <p id="responceWaveletSmoothing" class="stepResponces"></p>
        </div>
    </div>
    <div class="analysisStep">
        <div class="inline">
            <p>2. Baseline correction by Iterative Averaging</p>
            <label for="threshold">Appoint threshold</label>
            <input id="threshold" type="text" onmouseout="stepAbilityControl(event)" />
            <button class="startStep" disabled onclick="startBaselineCorrection()">Start</button>
        </div>
        <div class="inline">
            <p id="responceIABaseline" class="stepResponces" onchange="simulationStart(event)"></p>
        </div>
    </div>
    <div class="analysisStep">
        <div class="inline">
            <p>3. Simulating of absent data</p>
        </div>
        <div class="inline">
            <p id="responceSimulation" class="stepResponces"></p>
        </div>
    </div>
    <div class="analysisStep">
        <div class="inline">
            <p>4. Denoising</p>
        </div>
        <div class="inline">
            <p id="responceDenoising" class="stepResponces" onchange="peakDetectionStart(event)"></p>
        </div>
    </div>
    <div class="analysisStep">
        <div class="inline">
            <p>5. Peak detection</p>
        </div>
        <div class="inline">
            <p id="responcePeakDetection" class="stepResponces"></p>
        </div>
    </div>
</div>