
@model SpectraAnalysis.Models.HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<button onclick="sendFile()">Upload spectra</button>*@
    <form>
        <label for="spectraFile">Upload spectra</label>
        <input type="file" id="spectraFile" style="display: none;"/>
    </form>
    <button id="uploadFile">OK</button>
    
    @*<label for="file_input" class="common_button">Upload spectra</label>
    <input type="file" id="file_input" style="display: none;">*@
    <div id="spectraNameContainer" @*style="display: none;"*@>
        <label for="spectraName">Appoint the name of the spectra</label>
        <input type="text" id="spectraName" />
    </div>
</div>
