
@model SpectraAnalysis.Models.HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<button onclick="sendFile()">Upload spectra</button>*@
    <form>
        <label for="spectraFile">Upload spectra</label>
        <input type="file" id="spectraFile" style="display: none;"/>
    </form>
    <button id="uploadFile">OK</button>
    
    @*<label for="file_input" class="common_button">Upload spectra</label>
    <input type="file" id="file_input" style="display: none;">*@
    <div id="spectra_name_container" style="display: none;">
        <label for="spectra_name">Appoint the name of the spectra</label>
        <textbox id="spectra_name"></textbox>
    </div>
</div>
